header {
  background: rgb(4, 4, 18);
  color: #fff;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  //   align-items: center;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      align-items: center;
      gap: 20px;

      &-title {
        a {
          font-size: 30px;
          color: crimson;
          cursor: pointer;
        }
      }

      &__ul {
        display: flex;

        &__list {
          margin: 0 10px;

          a {
            padding: 10px 15px;
            color: inherit;
            font-size: 18px;
            transition: all ease 0.7s;

            // &:hover {
            //   color: crimson;
            // }
          }
        }
      }
    }
    &__right {
      &__block {
        select {
          padding: 10px;
          margin: 0 5px;
          border-radius: 15px;
          background: inherit;
          color: inherit;
          font-size: 15px;
        }
      }
    }
  }
}
